* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D0E7F2;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #D0E7F2;
    padding: 20px;
    padding-bottom: 100px; /* Added padding for menu bar */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #F9E29C;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

input::placeholder, textarea::placeholder {
    color: #000;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #9E8142;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7F6230;
}

p {
    margin-top: 15px;
    font-size: 1.1em;
    color: #000;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Added menu bar styles */
.menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.menu-bar img {
    width: 30px;
    height: 30px;
}
